PORT=3000 # frontend server port
APP_KEY='' # should be the same APP_KEY as ../backend/.env, used to sign JWT
ASSETS_URL='http://localhost:3000/assets' # URL used by the chatbot loader to fetch chatbot assets (js, css, etc)
API_URL='http://localhost:8000' # API url
