DATABASE_URL='' # url of PostgreSQL database.
OPENAI_API_KEY='' # API key for the OpenAI chat model.
PINECONE_API_KEY='' # API key for Pinecone vector search.
TAVILY_API_KEY='' # API key for web search results.
#- Optional overrides:
PINECONE_INDEX_NAME = '' # Default: ramon-products
OPENAI_MODEL='' # Default: gpt-4o-mini
OPENAI_TEMPERATURE='' # Default: 0

APP_KEY='' # key for JWT auth

GUEST_USER='guest' # guest user for basic auth
GUEST_PASSWORD='guest' # guest password for basic auth
